.env

# Config files
/config/*/*
!/config/nginx/sites-available

# Volumes files
/volumes/*/*
!/volumes/**/.gitkeep
!/volumes/prometheus/prometheus.yml
!/volumes/promtail/log/
!/volumes/sonic/store
!/volumes/sonic/sonic.cfg
