global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: Prometheus
    static_configs:
      - targets: ['localhost:9090']
        labels:
          namespace: 'Prometheus'
  - job_name: Node Exporter
    static_configs:
      - targets: ['host.docker.internal:9100']
